.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
}

.notification {
  width: 32px;
  height: 32px;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 48px;
}
