.layout {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.header {
}

.content {
  overflow: scroll;
  height: 70vh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
}
